body {
    background-color:lightSteelBlue;
  }  

p {
    margin: 3px;
  }
   
 .container{
  display: flex;
  justify-content: center;
  margin-top: 200px;  
  }

.game-intro{
  position: relative;
  text-align: center;
}

.instructions {  
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 19px;
    font-family: "Monaco";    
    color: white;
    list-style-type: none;
    text-align: center;    
    width: 500px;
  }

button {  
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-family: "Monaco";
    background-color: black;
    color: #fff;
    padding: 5px 10px;
    border: white, 7px,;
    box-shadow: 0;
    border-width: 5px;
    border-radius: 5px;    
  }